.nav {
    text-align: center;
    font-family: roboto;
  }
  .nav nav{;
    }
.paragraphe {color:adjust-hue($color: #000000, $degrees: 0);
    font-size: medium; background-color: cornsilk;
    font-style: italic; border: 10px;
border-radius: 10%;}


    .title {color:bisque;
        font-size: 35px;
        font-weight: bold;
        font-style: oblique;
        text-align: center;
    background-color: cornflowerblue;}
    .table {background-color: aliceblue;
    font-style: italic;
    font-size: medium;
    border: 10px solid;
    border-radius: 10px;
 }
